ai-multi-agent-orchestrator/workflow/multi-agent-orchestrator-workflow.json
{
  "name": "🤖Personal Assistant AI Agent 2.0",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.message.chat.id }}"
        },
        "text": "={{ $fromAI(\"message\",\"the message the user wants to send in Slack\") }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "7862f35a-e668-4733-bb5d-d2c1e2e8c1a0",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.2,
      "position": [
        -208,
        224
      ],
      "webhookId": "c2f22916-c8b0-42cf-b845-677924b5ff8d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "jY2FiffuI9Bj4KwC",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "name": "Knowledge_Base",
        "description": "Call this tool to get information about the company."
      },
      "id": "278d376e-9dc2-4957-a5a4-4c6c6fcf5b2c",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -80,
        224
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to get contact data like email address or phone number",
        "documentId": {
          "__rl": true,
          "value": "19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA/edit#gid=0"
        },
        "options": {}
      },
      "id": "23bfbda1-992c-4ec0-ba6c-ef9650f6bf55",
      "name": "Contacts Data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        208,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LNM7YpaR5XbHXCOY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "Calendar_Agent",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "QgltLdtfrPWhzp5r",
          "mode": "list",
          "cachedResultUrl": "/workflow/QgltLdtfrPWhzp5r",
          "cachedResultName": "🤖Calendar Agent"
        }
      },
      "id": "e432be8f-dba7-44eb-beef-5bb0d22e5a4e",
      "name": "🤖Calendar_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        336,
        224
      ]
    },
    {
      "parameters": {
        "name": "Research_Agent",
        "description": "Call this tool to search through Wikipedia, articles, or google to answer the user's question.",
        "workflowId": {
          "__rl": true,
          "value": "L7nDMqWcCw5gPAmO",
          "mode": "list",
          "cachedResultUrl": "/workflow/L7nDMqWcCw5gPAmO",
          "cachedResultName": "🤖Research Agent"
        }
      },
      "id": "387772cd-d458-4e21-b0a9-e644a52f9d60",
      "name": "🤖Research_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        464,
        368
      ]
    },
    {
      "parameters": {
        "name": "Projects_Agent",
        "description": "Call this tool to take action on our projects.",
        "workflowId": {
          "__rl": true,
          "value": "ql9HypGmdbvI0gij",
          "mode": "list",
          "cachedResultUrl": "/workflow/ql9HypGmdbvI0gij",
          "cachedResultName": "🤖Projects Agent"
        }
      },
      "id": "ae871c69-bd30-4918-a3ba-cc75e1b4f037",
      "name": "🤖Projects_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        592,
        224
      ]
    },
    {
      "parameters": {
        "name": "Email_Agent",
        "description": "Call this tool to take any email actions",
        "workflowId": {
          "__rl": true,
          "value": "J77Bq6p2s08JvHwr",
          "mode": "list",
          "cachedResultUrl": "/workflow/J77Bq6p2s08JvHwr",
          "cachedResultName": "🤖Email Agent"
        }
      },
      "id": "b7b361b6-2799-4aee-b6fc-7371b6cc3f2a",
      "name": "🤖___Email_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        736,
        384
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0f79dc65-bc9a-4124-9da6-707cc4bd155f",
      "name": "Respond to Me",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        0
      ],
      "webhookId": "095d3b03-21c5-4072-80bf-85e0aacdc37e",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "UMyrLl9SWjvrEe0B",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "4a5b4a87-e45a-4db9-a0d5-f1c92eedee9d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        0
      ],
      "webhookId": "2194a6b2-2302-4406-9c8c-207161b7eb22",
      "credentials": {
        "telegramApi": {
          "id": "fL2gKezVBqKEQd98",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "1437811b-a1ec-48ba-a723-f1ddf4c483fb",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        848,
        224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant AI Agent designed to handle various tasks efficiently. Your primary role is to manage contacts, emails, and calendar events for the user. You have access to three tools to help you fulfill requests:\n\nContacts Data: Use this when you need to look up contact information like an email address. You need to use this tool BEFORE sending an email or BEFORE getting emails.\n\nEmail Agent: Use this for handling all email-related actions, like sending messages, setting up replies, or forwarding emails.\n\nCalendar Agent: Use this for scheduling, updating, or managing calendar events.\n\nSend Slack Message: Use this to send a message in Slack.\n\nProjects_Agent: Use this tool to access our projects. We can update our projects of get information on our projects.\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\n\nHere is the current time/date: {{ $now.format('DD')}}"
        }
      },
      "id": "1b699fd0-3267-447c-bdc5-55f27d375d11",
      "name": "Personal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        272,
        0
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "bodyshop-terms",
          "mode": "list",
          "cachedResultName": "bodyshop-terms"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -192,
        432
      ],
      "id": "d737d512-5a4f-4ad9-a2cc-2a7d07d28a0b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "oq25dq41I9nOJnNf",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        2096
      ],
      "id": "c82b9223-e571-4c4d-98d3-b3e7c594412b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KpPJctNpvPS25Bkf",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -480,
        240
      ],
      "id": "536c6234-9ee2-45f3-8fa3-6694c3b5799c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "E3dFT3VWJYavlo1O",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        544
      ],
      "id": "fe5000f6-e409-4dd3-8dac-0d84641168ef",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "chjd3eKraNqw41gJ",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        640
      ],
      "id": "e5c92dbd-2bd8-4169-8c90-dab7ead389ce",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "U1nNzRUFdIfCcsWd",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Send Slack Message": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Data": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖Calendar_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖Research_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖Projects_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖___Email_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Personal Assistant": {
      "main": [
        [
          {
            "node": "Respond to Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "14845019-f236-4efb-a1dc-43f6e5d35531",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "475aa99012a5d8db18aebefac366cfde0d01594bd5c59ffc8583fd2841954653"
  },
  "id": "Xf06V9PohaCzVYO0",
  "tags": []
}